<a href="<%= app.get('link') %>">
    <div class="dashboard_app"  data-link="<%= app.get('link') %>" data-flip="0"
         data-description="<%= app.get('description') %>" data-link="<%= app.get('link') %>">
        <a class="nameLink" href="<%= app.get('link') %>"><%= app.get('name') %></a>

        <div class="description">
            <%= app.get('description') %>
        </div>

        <!--<a href="javascript:void(0);" class="app_info_button">-->
            <!--<i class="fa fa-info-circle"></i>-->
        <!--</a>-->
    </div>
</a>